{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
    
    
    <img src="img/Nature.jpg" class="card-img overlay overlay-black" alt="..." >
    <div class="container  card-img-overlay text-white d-flex justify-content-center align-items-center w-50">
        <blockquote class="blockquote mb-0">
            <p class="h3 text-white">
                {{ peintre.aPropos}}
            </p>
            <footer class="blockquote-footer text-white-50 mb-0">
                {{ peintre.prenom }} {{ peintre.nom }}
            </footer>
        </blockquote>
    </div>
    
    
{% endblock %}


    
        


    









