<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="card-text">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-5">
          <!-- Content -->
            <i class="fas fa-gem me-3">
                <img src="/img/logo.png" alt="Logo" width="180px"/> 
            </i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Menu
          </h6>
          <p>
            <a href="{{ path('app_realisations')}}" class="text-reset text-decoration-none">Réalisations</a>
          </p>
          <p>
            <a href="{{ path('app_actualités')}}" class="text-reset text-decoration-none">Actualités</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Portfolio</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">A propos</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Me contacter</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Informations
          </h6>
          <p>
           ArtCreation est un site de dessins dont le but est de partager des savoirs et des techniques détaillées étape par étape pour vous guider et vous inspirer dans vos créations. 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-5">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Mentions Légales</h6>
          <p class="fas fa-home me-3"> RGPD </p>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright: ArtCreation
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->