<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary border-bottom">
	<div class="container">

		<!-- Brand -->
		<a class="navbar-brand" href="/">
			<img src="/img/logo.png" class="navbar-brand-img" alt="..." width="200px">
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fe fe-x"></i>
			</button>

			<!-- Navigation -->
			<ul class="navbar-nav ms-auto fs-5">
				<li class="nav-item dropdown">
					<a href="{{ path('app_realisations')}}" class="nav-link">Réalisations</a>
				</li>
				<li class="nav-item dropdown">
					<a href="{{ path('app_actualités')}}" class="nav-link">Actualités</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
						Portfolio
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarAccount">
						{% for categorie in categorieNavbar() %}
							<li class="dropdown-item dropend">
								<a href="{{ path('app_portfolio_categorie', {'slug': categorie.slug}) }}"></a>
							</li>
						{% endfor %}
							
					</ul>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_a_propos')}}" class="nav-link">A propos</a>
				</li>
			</ul>

			<!-- Button -->
			<a class="navbar-btn btn btn-sm btn-primary lift ms-auto fs-5" href="">
				Me contacter
			</a>

		</div>

	</div>
</nav>