<!-- Nav -->
<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-around " >
    <div class="container" >
        <!-- Logo -->
        <a class="navbar-brand mb-7" href="#">
            <img src="/img/logo.png" alt="Logo" width="200px"/>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav fs-5 me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{{ path('app_realisations')}}"  class="nav-link active">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_actualités')}}" class="nav-link active">Actualités</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Portfolio
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-disabled="true">A propos</a>
                </li>
                
            </ul>
        </div>

        <div class="nav-item lift lift-sm">
            <a class="btn btn-primary fs-5" aria-disabled="true">Me contacter</a>
        </div>
    </div>
</nav>